@font-face{
	font-family: Banty Bold;
	font-display: swap;
	src: url("../fonts/Banty Bold.woff2") format("woff2"), url("../fonts/Banty Bold.woff") format("woff");
	font-weight: Banty Bold;
	font-style: normal;
}
@font-face{
	font-family: BriosoPro Italic;
	font-display: swap;
	src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
	font-weight: BriosoPro Italic;
	font-style: normal;
}
